**/.terraform/
**/.terragrunt-cache/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/backend.generated.tf
**/provider.generated.tf
